.container{
    background-color: rgb(255, 255, 255);
    color: rgb(29, 36, 56);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-image: none;
    overflow: hidden;
    border: 1px solid rgb(229, 234, 242);
    border-radius: 8px;
    padding: 32px;
    max-width: 600px;
    margin: auto;
    margin-top: 40px;
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 23px;
}


.divTitulo{
    text-align: center;
}

.divImagem{
width: 100%;
text-align: center;
height: 100px;
}

.divForm{
width: 100%;
margin-top: 20px;
}

.divLink{
    margin-top: 20px;
    width: 50%;
    display: flex;
    align-items: center;
}
.p{
    margin-right: 10px;
    color: #9EC1E4;
}